:root {
  --primary-color: rgb(0, 0, 0);
  --secondary-color: rgb(0, 0, 0);
  --button-color: #000000;
  --font-family: Arial, sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  font-family: var(--font-family);
  color: var(--primary-color);
  margin: 0;
  padding: 0;
  background-color: #000000;
}

nav {
  display: flex;
  justify-content: center;
  gap: 20px;
  background-color: var(--secondary-color);
}

nav a {
  color: rgb(255, 0, 0);
  text-decoration: none;
  font-weight: bold;
  padding: 10px 0;
}


nav a[aria-current='page'] {
  color: #ff0303;
  background-color: #000000;
  padding: 10px 0;
}
#loginForm {
  padding: 10px;
}

@media (max-width: 768px) {}
main {
  padding: 1rem;
}
 

h1 {
  font-weight: bold;
  font-size: 1.5rem;
  color: #ff0000;
}

p {
  color: #fa0000;
}

a {
  background-color: rgb(0, 0, 0);
}

.MineFavoritter {
  border: black solid;
  text-align: top;
  background-color: #8a8080;
  color: rgb(251, 255, 0);
}

@media (max-width: 768px) {}
.columns {
  flex-direction: row;
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-top: 20px;
  }

  .column {
  width: 100%; /* Make each column full-width on mobile */
  margin-bottom: 20px; /* Add spacing between columns */
  background-size: cover;
  background-position: center;
  color: rgb(255, 255, 255);
  text-align: center;
  cursor: pointer;
  transition: transform 0.3s;
  }

button {
  text-align: center;
  display: flex; /* Use flexbox for centering */
  flex-direction: column; /* Stack items vertically */
  align-items: center; /* Center items horizontally */
  justify-content: center; /* Center items vertically */
  position: relative; /* Ensure dropdown content positions relative to this */
  background-color: rgb(163, 156, 156);
  color: red;
}

.column:hover {
  transform: scale(1.05);
}

.dropdown, .dropdowntwo, .dropdownthree {
  margin-top: 20px;
  text-align: center;
}

.dropdown button, .dropdowntwo button, .dropdownthree button, #loginForm button {
  background: var(--button-color);
  border: none;
  color: rgb(250, 4, 4);
  padding: 10px 20px;
  cursor: pointer;
  transition: background 0.3s;
}

.dropdown button:hover, .dropdowntwo button:hover, .dropdownthree button:hover, #loginForm button:hover {
  background: #b30000;
}

ol {
  text-align: center;
  display: flex; 
  flex-direction: column; 
  align-items: center; 
  justify-content: center; 
  position: relative;
}

#loginSection, #mainContent {
  text-align: center;
  margin: 20px;
}

#mainContent {
  display: none;
}

#mainContent img {
  width: 100%; /* Ensure images scale to fit smaller screens */
  height: auto;
}

@media (max-width: 768px) {}
#bmwImage, #haukImage, #mainmaskinImage {
  max-width: 660px;
  min-width: 100px;
  height: auto;
}